<div class="container">
	<div class="row">

		<div class="col-12">
			<div class="tarjeta elevacion">
				<ng-container *ngIf="!loading">
					<h3 class="text-center">Realice su búsqueda</h3>
					<form (ngSubmit)="buscarPorNombre(datos.media.param)" class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" [(ngModel)]="datos.media.param" name="nombre" placeholder="Ej: Tobey Maguire">
						</div>
						<button type="submit" class="btn btn-primary">Buscar</button>
					</form>
				</ng-container>
				<ng-container *ngIf="loading">
					<h3 class="text-center">Buscando resultados...</h3>
					<div class="loading"></div>
				</ng-container>
			</div>
		</div>

		<div class="col-12 col-lg-10 offset-lg-1" *ngIf="datos && datos.media.data && datos.media.data.length && !loading">
			<h3>Mostrando resultados de <strong>{{datos.media.param}}</strong></h3>
			<div class="listado">

				<div class="dato">
					<div class="id">ID</div>
					<div class="name">Nombre</div>
					<div class="service">Servicio</div>
				</div>

				<div class="dato" *ngFor="let res of datos.media.data">
					<div class="id"><span>ID: </span> {{res.id}}</div>
					<div class="name"><span>Nombre: </span> {{res.name}}</div>
					<div class="service">
						<img [src]="res.imagen">
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-10 offset-lg-1" *ngIf="datos && datos.media.data && !datos.media.data.length && !loading">
			<h3 *ngIf="!datos.media.err">No se encontraron resultados para <strong>{{datos.media.param}}</strong></h3>
			<div *ngIf="datos.media.err" class="alert alert-info">
			  <h4 class="alert-heading">
				{{datos.media.err.title}}
				<button type="button" class="btn btn-sm btn-outline-danger float-right" (click)="cerrarMediaErr()">x</button>
			  </h4>
			  <hr>
			  <p class="mb-0">{{datos.media.err.text}}</p>
			</div>
		</div>
		<div class="col-12 col-lg-10 offset-lg-1" *ngIf="hold && loading">
			<div class="alert alert-info">
			  <h4 class="alert-heading">Esta consulta pudiera demorar un poco</h4>
			  <p class="mb-0">Espere mientras encontramos su búsqueda</p>
			  <hr>
			  <p class="mb-0">O cancele en cualquier momento y realice una nueva búsqueda</p>
			  <button type="button" class="btn btn-danger" (click)="cancelarMedia()">Cancelar</button>
			</div>
		</div>
	</div>
</div>