.tarjeta{
	display: grid;
	width: 340px;
	height: 200px;
	padding: 1rem;
	grid-row-gap: 1rem;
	margin: 2rem auto 4rem auto;
	border-radius: 15px;
	box-shadow: 0 5px 20px -2px;
	background-color: #fff;

	form{
		margin: auto;
	}
	button,
	.form-group,
	.form-group>input{
		width: 100%;
	}

	.form-group{
		margin-bottom: 1rem;
	}

	@media(min-width: 768px){
		padding: 2rem 0;
		width: 640px;

		button,
		.form-group{
			width: unset;
			margin: 0;
		}
	}
}

.listado{
	display: grid;
	padding: 3rem 0;
	line-height: 180%;
}
.dato{
	display: grid;
	min-height: 4rem;
	grid-template-columns: 120px 1fr 70px;

	span{
		display: none;
	}

	@media (max-width: 767px){
		width: 300px;
		grid-template-columns: 1fr 70px;
		margin: auto;

		&:first-child{
			display: none !important;
		}

		>.name{
			grid-column: 1/-1;
			grid-row: 1/2;
			padding: 0 1rem !important;
		}

		span{
			display: inline-block;
			margin: 1rem 0;
			font-weight: bold;
		}
	}

	&:nth-child(even){
		background-color: #e9ecef;
	}
	&:first-child{
		font-weight: bold;

		>.service{
			text-align: center;
		}
	}

	>.name{
		padding: 0 2rem;
	}
	>.id{
		padding: 0 1rem;
	}
	>*{
		align-self: center;
	}

	img{
		width: 50px;
	    display: block;
	    margin: auto;
	}
}

@media (max-width: 768px){
	.col-12{
		padding: 0;
	}
}


div.loading{
	margin: auto;
}

.alert-heading{
	display: grid;
	grid-template-columns: 1fr 30px;

	button{
		height: 30px;
	}
}