/* You can add global styles to this file, and also import other style files */
body{
	background-color: #fafafa;
}
.loading {

	display: inline-block;
	width: 80px;
	height: 80px;

	&:after {
		content: " ";
		display: block;
		width: 64px;
		height: 64px;
		margin: 8px;
		border-radius: 50%;
		border: 6px solid #fff;
		border-color: #0062cc transparent #fff transparent;
		animation: loading 1.2s linear infinite;
	}
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert{
	transition: all 500ms;
	animation: alert 500ms linear;
}
@keyframes alert{
	0%{
		opacity: 0;
		bottom: 1rem;
	}
	100%{
		opacity: 1;
		bottom: 0;
	}
}